.sliderContainer {
    height: 415px;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 490px;
    background-color: #fff;
  }

  .carousel-img {
    object-fit: cover;
    position: relative;
    //width: 150%;
    min-width: 100%;
    //min-height: 100%;
    min-height: 490px;
    //top: -115px;
  }

.counter {
    position: absolute;
    z-index: 3;
    top: 375px;
    left: 48%;
    font-size: 18px;
    color: #FFF; 
    @media screen and (max-width: 768px){
      display: none;
  }
}

.arrowLeft {
    position: absolute;
    z-index: 3;
    top: 170px;
    left: 0px;
    cursor: pointer;
}

.arrowRight {
    position: absolute;
    z-index: 3;
    top: 170px;
    right: 0px;
    cursor: pointer;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  }